.navbar {
    background-color: rgba(225, 165, 52, 0.222);
    border-radius:100px ;
    font-weight: 500;
    font-size: large;
    color: black;
}

.header {
    width: 100%;
    padding: 40px 40px 40px 40px;
}

